apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: nestjs-job-role
  namespace: default
rules:
  - apiGroups: ["batch"]
    resources: ["jobs"]
    verbs: ["get", "list", "create", "delete"]
